*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.bg-grey{
    background-color: hsl(209deg 31% 33%);
}
.bg-darkgrey{
    background-color: hsl(210deg 29% 24%);
}
.bg-green{
    background-color: hsl(168deg 76% 42%);
}
.bg-black{
    background-color: black;
}
.bg-white{
    background-color: white;
}
.t-white{
    color: white;
}
.t-green{
    color: green;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.pd-top-bottom-20{
    padding:20px 0px;
}
.margin-auto{
    margin: auto;
}
header li{
    display: inline-block;
    padding-right: 15px;
}
.flex{
    display: flex;
}
.jumbo-tron img{
    height: 150px;
}
.line{
    width: 40%;
    height: 3px;
}
.fa-star{
    padding-left: 15px;
    padding-right: 15px;
}
.content img{
    width: 100%;
    border-radius: 10px;
} 
.lp-btn{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}
.mg-b75{
    margin-bottom: 75px;
}
.top-footer i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px;
    font-size: 15px;
}
.lp-hidden{
    display: none;
}
@media screen and (max-width:500px) {
    .lp-show{
       display: none;
    }
    .lp-hidden{
       display: flex;
    }
}